.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  cursor: pointer;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  border-radius: 5%;
}

.card--dark-mode {
  background-color: #141414;
  color: #fff;
}

.card--default-mode {
  border: 0px solid #000;
}

.card--small {
  width: 300px;
}
.card--medium {
  max-width: 500px;
}
.card--large {
  max-width: 700px;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  opacity: 1;
}

.gradient--card--default-mode {
  position:relative;
  display:inline-block;
}

.gradient--card--default-mode::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgb(255, 255, 255) 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

.gradient--card--dark-mode {
  position:relative;
  display:inline-block;
}

.gradient--card--dark-mode::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #141414 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}´

.order {
  display: flex;
}

.description-section {
  display: inline-block;
  width: 60%;
}

.card-text {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-align: left;
  line-height: 1;
  margin-left: 5%;
  margin-right: 5%;
}

.tags-section {
  vertical-align:top;
  display: inline-block;
  width: 40%;
  margin-top: 2%;
}

.card-tag-h {
  color: gray;
}

.card-tag {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0;
  margin-top: 1%;
}

.watch-now--card--dark-mode {
  position: relative;
  display:inline-block;
  top: 50%;
  left: 5%;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.button-text--card--dark-mode {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.watch-now--card--dark-mode:hover {
  animation: watch-now-anim 1s forwards;
}

.button-text--card--dark-mode:hover {
  animation: watch-now-anim 1s forwards;
}

.watch-now--card--default-mode {
  position: relative;
  display:inline-block;
  top: 50%;
  left: 5%;
  background-color: #141414;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.button-text--card--default-mode {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.watch-now--card--default-mode:hover {
  animation: watch-now-anim 1s forwards;
}

.button-text--card--default-mode:hover {
  animation: watch-now-anim 1s forwards;
}

@keyframes watch-now-anim {
  from{transform: scale(1.0);}
  to{transform: scale(1.1);}
}

